.pelicula{
    margin: 60px 5px;
    padding: 5px;
}

.pelicula-imagen{
    width: 260px;
    height: 370px;
    position: relative;
}

.pelicula-imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    border-radius: 15px;
    cursor: pointer;
    transition: all 300ms;
}

.pelicula-puntaje{
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 13px;
    margin: 5px;
    font-weight: 600;
    border-radius: 30px;
    background-color: #007aff;
    z-index: 99;
}

.pelicula-imagen img:hover{
    opacity: .7;
}

.pelicula-titulo{
    text-align: center;
}

@media screen and (min-width:750px){
    .pelicula-imagen{
        width: 200px;
        height: 320px;
    }
}
